body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.heading{
            text-align: center;
            font-size: 50px;
}
#Main{
    display: grid;
    grid-template-columns: 55% 45%;
    margin: 0% 20%;
    box-shadow: 5px 5px 5px 5px rgb(45, 189, 214);
    border-radius: 10px 10px 10px 10px;
}
.FormSide{
        text-align: center;
        padding: 10%;

}
.FormSide button{
            padding: 10px 50px;
            border-radius: 50px;
            border: none;
            font-size: large;
            background-image: linear-gradient(to left, aqua, blue);
            color: white;
}
.Fields{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.name,
.email,
.password{    
    display: flex;
    margin: 10px;
    padding: 10px;
    width: 100%;
    border-radius: 50px;
    border: none;
    outline: none;
    box-shadow: 5px 5px 5px 5px rgb(135, 238, 252);
}
.Fields input{
    display: flex;
    border:none;
    outline: none;
} 
.checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.checkbox input[checkbox]
{
    border-radius: 50%;
}
a{
    color: rgb(129, 240, 234);
}
.FormSide p{
        display: flex;
        align-items: center;
        justify-content: center;
}
.PlaneSide{
    background-image: linear-gradient(to bottom, aqua, blue); ;
    color: white;
    text-align: center;
    padding: 10%;
    border-radius: 0px 10px 10px 0px;
    display: grid;
    place-items: center;
}
.PlaneSide .glad{
    padding: 10%;
}
p{  display: flex;
    text-align: center;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}